<div class="modificar">

  <h2>Modificar oferta</h2>

  <form action="/admin/paneladmin/modificar" method="post" enctype="multipart/form-data">
  <input type="hidden" value="{{novedad.id}}" name="id">
    
    <p>
      <label>Foto <input type="file" name="foto" id="foto" /> </label>
    </p>
    
    <p>
      <label><input type="checkbox" name="img_delete" id="img_delete" value="1">
      Eliminar elemento actual? </label>
      <input type="hidden" name="img_original" value="{{novedad.img_id}}">
    </p>

    <p>
      <label for="tipo">Tipo de instrumento</label>
      <input type="text" name="tipo" value="{{novedad.tipo}}" />
    </p>
    
    <p>
      <label for="marca">Marca</label>
      <input type="text" name="marca" value="{{novedad.marca}}"/>
    </p>

    <p>
      <label for="descripcion">Descripcion</label>
      <input type="text" name="descripcion" value="{{novedad.descripcion}}"/>
    </p>

    <p>
      <label for="precio">Precio</label>
      <input type="precio" name="precio" value="{{novedad.precio}}"/>
    </p>

    <p>
      <button type="submit" class="btn btn-primary">Modificar</button>
    </p>

  </form>
  {{#if error}}
  <p>{{message}}</p>
  {{/if}}


</div>